<a href="https://colab.research.google.com/github/ggeteria2/IP-Week-4-/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2022_02_Gitonga_Geteria_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#IP WEEK 4: ELECTRIC CAR SHARING COMPANY

###1.0 Importing Libraries & Loading Data Sets

In [23]:
#1.1 Importing libraries to our work environment
import pandas as pd

import numpy as np

In [24]:
#1.2 Loading the Datasets
df = pd.read_csv("/content/Autolib_dataset (2).csv")

###2.0 Previewing our Dataset

In [25]:
#2.1 Preview

df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [26]:
#2.2 Displaying the Datasets information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

###3.0 Data Cleaning

In [27]:
#3.1 Finding duplicate rows and dropping them accordingly

df = df.drop_duplicates()
print(df)

#From the results displayed, no duplicated detected in the 5000 rows and none dropped.

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [28]:
#3.2 Finding duplicate columns and dropping them accordingly

df = df.drop(columns=['Cars'])
df.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 24 columns]

In [29]:
#3.2 Preview of new dataset with dropped columns and rows 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Bluecar counter      5000 non-null   int64
 2   Utilib counter       5000 non-null   int64
 3   Utilib 1.4 counter   5000 non-null   int64
 4   Charge Slots         5000 non-null   int64
 5   Charging Status      5000 non-null   object
 6   City                 5000 non-null   object
 7   Displayed comment    111 non-null    object
 8   ID                   5000 non-null   object
 9   Kind                 5000 non-null   object
 10  Geo point            5000 non-null   object
 11  Postal code          5000 non-null   int64
 12  Public name          5000 non-null   object
 13  Rental status        5000 non-null   object
 14  Scheduled at         47 non-null     object
 15  Slots                5000 non-null   int64
 16  Station type         5000 non-null   object
 17  Status               5000 non-null   object
 18  Subscription status  5000 non-null   object
 19  year                 5000 non-null   int64
 20  month                5000 non-null   int64
 21  day                  5000 non-null   int64
 22  hour                 5000 non-null   int64
 23  minute               5000 non-null   int64
dtypes: int64(11), object(13)
memory usage: 976.6+ KB

In [30]:
#3.3 Updating Column Names to uppercase for uniformity

df.columns = df.columns.str.upper()
df.head()

                              ADDRESS  BLUECAR COUNTER  ...  HOUR  MINUTE
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 24 columns]

In [31]:
#3.4 Combining the columns 'YEAR, 'MONTH', 'DAY', 'HOUR' & 'MINUTE' into 1(one) column and updating the column to datetime datatype

df['DATETIME']=pd.to_datetime(df[['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE']])
df.head()

                              ADDRESS  ...            DATETIME
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 25 columns]

In [32]:
#3.5 Dropping columns with 'YEAR, 'MONTH', 'DAY', 'HOUR' & 'MINUTE' after combining them to DATETIME

df = df.drop(columns=['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE'])
df.head()

                              ADDRESS  ...            DATETIME
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 20 columns]

In [33]:
#3.6 Dropping all the rows where the values of 'BLUECAR COUNTER' are < than 0 (zero) and/or > than 7 (seven)

#nr = df[(df['BLUECAR COUNTER'] < 0) & (df['BLUECAR COUNTER'] > 7) ].index
#df.drop(nr , inplace=TRUE)

#df = df.drop(columns=['BLUECAR COUNTER'] < 0 and (columns=['BLUECAR COUNTER'] > 7))
#df.head()

In [34]:
#3.7 Checking for any missing values in the dataset using Primary Key ('ADDRESS')

print(df['ADDRESS'].isnull())

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Name: ADDRESS, Length: 5000, dtype: bool

In [35]:
#3.8 Sifting through the dataset for any

###4.0 Analysis of the Dataset

In [36]:
#4.1 Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
#Firstly, we create a new data frame on showing the 'CITY' of Paris.

df_Paris = df[df.CITY == 'Paris']
df_Paris.head()

                              ADDRESS  ...            DATETIME
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
5                8 Boulevard Voltaire  ... 2018-04-06 07:02:00

[5 rows x 20 columns]

In [37]:
#4.2 Sorting out the NEW Paris dataframe from Day 1 to Day 9 (ASCENDING Order)

Paris = df_Paris.sort_values(['ID', 'DATETIME'], ascending=[True, True])
Paris.head()

                       ADDRESS  ...            DATETIME
710   8 Place du 25 AoÃ»t 1944  ... 2018-04-01 18:40:00
1891  8 Place du 25 AoÃ»t 1944  ... 2018-04-02 07:37:00
2312  8 Place du 25 AoÃ»t 1944  ... 2018-04-02 12:49:00
911   8 Place du 25 AoÃ»t 1944  ... 2018-04-04 03:10:00
4940  8 Place du 25 AoÃ»t 1944  ... 2018-04-04 18:48:00

[5 rows x 20 columns]

In [38]:
#4.3 Creating column to find the difference in the "BLUECAR COUNTER"
Paris["DIFF BLUECAR"] = Paris["BLUECAR COUNTER"]. diff(-1)
Paris.head()

                       ADDRESS  ...  DIFF BLUECAR
710   8 Place du 25 AoÃ»t 1944  ...          -3.0
1891  8 Place du 25 AoÃ»t 1944  ...           2.0
2312  8 Place du 25 AoÃ»t 1944  ...          -1.0
911   8 Place du 25 AoÃ»t 1944  ...           2.0
4940  8 Place du 25 AoÃ»t 1944  ...           0.0

[5 rows x 21 columns]

In [39]:
#4.4 Creating a 'NEW TIME' & 'NEW DATE' Columns to ascertain the popular hour of 'BLUECAR COUNTER' in Paris.

NEWDATE, NEWTIME = zip(*[D.DATE(), D.TIME()) for D in Paris['DATETIME']])
df_DATE = Paris.assign(NEWDATE=NEW DATE, NEWTIME=NEW TIME)
df_DATE.head()

SyntaxError: ignored

###5.0 BONUS Questions Analysis

In [47]:
#5.1 (BONUS): What is the most popular hour for returning cars?

In [46]:
#5.2 (BONUS): What station is the most popular?

#df['ID'].mode(
 #   c in df['ID']:
  #    if c == "paris-portemontrouge-8"

In [43]:
#5.3 (BONUS): What station has the most popular picking hour?
#picking_df = CITY_df[(CITY_df['DIFFBLUECAR'] < 0)]. groupby(["HOUR"])["DIFFBLUECAR"].sum()
#picking_df.sort_values(ascending = False).head(1)

In [44]:
#5.4 (BONUS): What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

In [45]:
#5.5 (BONUS): What postal code is the most popular picking hour up Blue cars? Does the most popular station belong to that picking hour?